* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 12px;
}

body {
  /* background: rgb(15,208,205);
  background: linear-gradient(90deg, rgba(15,208,205,1) 0%, rgba(160,196,194,1) 15%, rgba(22,150,129,0.9988328094909839) 87%, rgba(247,252,254,1) 100%); */
  background-image: url(imagenes/background.png);
  background-repeat: repeat;
  background-size:cover; 
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
}

#root {
  width: 100%;
}

@media screen and (max-width: 60rem){ /* 950px */
  :root {
      font-size: 12px;
  }
}

